.usertable__header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 56px;
  background-color: #e8f6eb;
  border-radius: 8px;
  padding: 16px 32px;
  margin-bottom: 16px;
}
.usertable__headercell {
  width: 456px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #16812e;
}