.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.toolbarNumber {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 20px;
}
.toolbar__controls {
  display: flex;
  gap: 18px;
}

@media (max-width: 919px) {
  .toolbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}